<div>
    <h2 id="page-heading">
        <span jhiTranslate="storeApp.customer.home.title">Customers</span>
        <button id="jh-create-entity" class="btn btn-info float-right jh-create-entity create-customer"
            [routerLink]="['/customer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="storeApp.customer.home.createLabel">
                Create a new Customer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                        name="currentSearch" placeholder="{{ 'storeApp.customer.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="alert alert-warning" *ngIf="customers?.length === 0">
        <span jhiTranslate="storeApp.customer.home.notFound">No customers found</span>
    </div>
    <div class="table-responsive" *ngIf="customers?.length > 0">

        <p-panel header="Clientes registrados">
            <p-table [value]="customers" [responsive]="true" [paginator]="true" [rows]="3" [lazy]="true"
                [totalRecords]='totalRecords' (onLazyLoad)='loadDataLazy($event)' [loading]='loading'>
                
                <ng-template pTemplate="header">
                    <tr>
                        <th class="ui-column-title" style="width: 55px;">ID</th>
                        <th>Fist Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th class="ui-p-4">Phone</th>
                        <th class="ui-p-5">Address Line 1</th>
                        <th class="ui-p-5">Address Line 2</th>
                        <th class="ui-p-6">City</th>
                        <th class="ui-p-6">Country</th>
                        <th style="width: 55px;"></th>
                        <th style="width: 55px;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td><a [routerLink]="['/customer', customer.id, 'view' ]">{{customer.id}}</a></td>
                        <td>{{customer.firstName}}</td>
                        <td>{{customer.lastName}}</td>
                        <td>{{customer.gender}}</td>
                        <td>{{customer.email}}</td>
                        <td class="ui-p-4">{{customer.phone}}</td>
                        <td class="ui-p-5">{{customer.addressLine1}}</td>
                        <td class="ui-p-5">{{customer.addressLine2}}</td>
                        <td class="ui-p-6">{{customer.city}}</td>
                        <td class="ui-p-6">{{customer.country}}</td>
                        <td>
                            <button type="submit" [routerLink]="['/customer', customer.id, 'edit']"
                                class="btn btn-info btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            </button>
                        </td>
                        <td>
                            <button type="submit"
                                [routerLink]="['/customer', { outlets: { popup: customer.id + '/delete'} }]"
                                replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>

    </div>

</div>